*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 400px;
    height: 400px;
    border: 5px solid black;
    margin: 20px auto;
}

.item1 , .item2{
    height: 150px;
    width: 150px;
}

.item1{
    background-color: aqua;
    position: relative; /*libera acesso a 4 propriedades diferentes: top, bottom, left e right*/
    left: 40px;
    top: 40px;
}

.item2{
    background-color: blueviolet;
}