*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 100px;
}

p{
    text-align: justify;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 100px;
    position: sticky; /*gruda o elemento onde você definir*/
    top: 0; /*sempre que usar o position: sticky precisa dizer a posição de left, right, top, ou bottom*/
}